<div class="container">
  <div style="display: flex">
    <span
      nz-icon
      nzType="left"
      nzTheme="outline"
      style="font-size: 21px; margin: 12px; cursor: pointer"
      routerLink="/landing"
    ></span>
    <h1 class="login-title">Login</h1>
  </div>

  <form nz-form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <i nz-icon nzType="user"></i>
          <input
            formControlName="email"
            nz-input
            placeholder="Email"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <i nz-icon nzType="lock"></i>
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Contraseña"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="login-button">
      <button nz-button nzType="primary">Entrar</button>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <!-- 
          <br />
          <a class="login-form-forgot" href="">Forgot password?</a>
        -->
        <br />
        <a (click)="goToRegister()">Regístrate!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
