<div class="register-container">
  <div style="display: flex">
    <span
      nz-icon
      nzType="left"
      nzTheme="outline"
      style="font-size: 21px; margin: 12px; cursor: pointer"
      routerLink="/landing"
    ></span>
    <h1 class="register-title">Registro</h1>
  </div>

  <form nz-form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            formControlName="firstName"
            nz-input
            placeholder="Name"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
      <div
        class="validation-message"
        *ngIf="
          registerForm.get('firstName')!.invalid &&
          registerForm.get('firstName')!.touched
        "
        nz-form-explain
      >
        Ingresa tu nombre
      </div>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <!-- <i nz-icon nzType="user"></i> -->
          <input
            formControlName="lastName"
            nz-input
            placeholder="Lastname"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
      <div
        class="validation-message"
        *ngIf="
          registerForm.get('lastName')!.invalid &&
          registerForm.get('lastName')!.touched
        "
        nz-form-explain
      >
        Ingresa tu apellido
      </div>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            formControlName="email"
            nz-input
            placeholder="Email"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
      <div
        class="validation-message"
        *ngIf="
          registerForm.get('email')!.invalid &&
          registerForm.get('email')!.touched
        "
        nz-form-explain
      >
        Ingresa tu email
      </div>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <!-- <i nz-icon nzType="lock"></i> -->
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
      <div
        class="validation-message"
        *ngIf="
          registerForm.get('password')!.invalid &&
          registerForm.get('password')!.touched
        "
        nz-form-explain
      >
        Please enter your password
      </div>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input
            formControlName="passwordConfirm"
            nz-input
            type="password"
            placeholder="Password"
            class="form-input"
          />
        </nz-input-group>
      </nz-form-control>
      <div
        class="validation-message"
        *ngIf="
          registerForm.get('passwordConfirm')!.invalid &&
          registerForm.get('passwordConfirm')!.touched
        "
        nz-form-explain
      >
        Please confirm your password
      </div>
    </nz-form-item>

    <nz-form-item>
      <button
        nz-button
        [disabled]="registerForm.invalid"
        nzType="primary"
        class="register-button"
      >
        Register
      </button>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <br />
        <a (click)="goToLogin()">Ya tengo una cuenta. Entrar!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
