<div class="content">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header style="background-color: black" [nzGhost]="false">
      <nz-page-header-title style="color: white; cursor: pointer" routerLink="/"
        >Alright</nz-page-header-title
      >
      <nz-page-header-extra>
        <nz-space>
          <a *nzSpaceItem style="color: white">Docs</a>
          <a *nzSpaceItem style="color: white" routerLink="/register"
            >Registro</a
          >
          <a
            *nzSpaceItem
            style="color: white; text-decoration: underline"
            routerLink="/login"
            >Login</a
          >
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>

  <div nz-row style="height: calc(100vh - 75px)">
    <div
      nz-col
      nzXs="24"
      nzSm="8"
      style="margin: 8% 0; font-size: 17px; color: #3e3e3e; padding: 24px"
    >
      <p class="cls-open-tag">&#60;body&#62;</p>
      <h2 style="font-size: 63px; margin: 0">Alright</h2>
      <p class="cls-subtitle">
        Un solución digital<br />
        para gestionar tus documentos legales
      </p>
      <p style="margin-top: 45px">&#60; &#47; body&#62;</p>
    </div>

    <div nz-col nzXs="24" nzSm="8">
      <nz-row>
        <nz-col nzSpan="24">
          <nz-card class="cl-card">
            <div nzTitle>Crea integraciones con nuestra API</div>
            <div nzBody>
              <p>
                Lee la documentación para conectarte con nuestros servicios.
              </p>
              <button nz-button nzType="primary">Read docs</button>
            </div>
          </nz-card>
        </nz-col>
      </nz-row>

      <nz-row>
        <nz-col nzSpan="12">
          <nz-card class="cl-card">
            <div nzTitle>Empieza a gestionar todos tus documentos</div>
            <div nzBody>
              <p>
                Gestiona tus documentos de manera rápida, sencilla y
                colaborativa
              </p>
              <button nz-button nzType="primary">Get started</button>
            </div>
          </nz-card>
        </nz-col>

        <nz-col nzSpan="12">
          <img
            style="width: 200px; height: 200px; margin-bottom: 30px"
            src="../../../assets/undraw_online_media_re_r9qv.svg"
          />
        </nz-col>
        <!-- 
        <nz-col nzSpan="12">
          <nz-card class="cl-card">
            <div nzTitle>Let's craft and get done your ideas</div>
            <div nzBody>
              <p>
                We can create costumize software for high complexity business
                models.
              </p>
              <button nz-button nzType="primary">Write request</button>
            </div>
          </nz-card>
        </nz-col> -->
      </nz-row>
    </div>
  </div>
</div>
